# MySQL credentials
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_PASSWORD=your_password_here
MYSQL_USER=your_user_here

# OpenAI API Key
OPENAI_API_KEY=your_api_key_here

# Elasticsearch credentials
ELASTIC_PASSWORD=your_elastic_password_here

# docker-compose configuration
COMPOSE_FILE=docker/docker-compose.yaml